:root {
  --color-lightest: #fff4e6;
  --color-light: #ffe8cc;
  --color-medium: #ffa94d;
  --color-dark: #ff922b;
  --color-input-border: #e0e0ca;
  --color-focus-bg: #def4f2;
  --color-focus-border: #c4c4a9;
}

//media query
$tablet-size: 728px;
$desktop-size: 1200px;
