:root {
  --background-header: #d2d8dc;
  --background-header_menu: #fff;
  --background-header_burger: #2a2828;
}

//text fonts
$font-size-s: 1.2rem;
$font-size-m: 1.8rem;
$font-size-l: 2.8rem;

//media query
$tablet-size: 728px;
$desktop-size: 1200px;
