@import "styles/styles";
.wrapper {
  display: flex;
  width: 950px;
  margin: 10% auto 0 auto;
  justify-content: space-between;

  .leftSide {
    display: flex;
    flex-direction: column;
    width: 430px;

  }

  .rightSide {
    display: flex;
    flex-direction: column;
    width: 490px;
    height: auto;

  }
}
